@font-face {
  src: url("fonts/Karla-VariableFont_wght.ttf");
  font-family: Karla;
}

@font-face {
  src: url("fonts/Inter-VariableFont_slnt,wght.ttf");
  font-family: Inter;
}

:root {
  --main-bg-color: #1F2937;
  --main-title-color: #FFFFFF;
  --secondary-title-color: #4ADF86;
  --text-color: #D5D4D8;
  --hr-color: #2F3E53;
  --switch-mode-color: #ECFDF5;
}

body {
  margin: 0;
  background: #1C1C1C;
  color: var(--text-color);
  font-family: Inter;
  font-weight: 400;
}

#container {
  background: var(--main-bg-color);
  width: 550px;
  height: 550px;
  margin: 100px auto 0 auto;
  overflow: auto;
}

#main {
  margin: -48px 52px 10px 55px;
}

#title {
  font-family: Karla;
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--main-title-color);
}

#title-green {
  color: var(--secondary-title-color);
}

#subtitle {
  font-family: Inter;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 50px;
}

#generate-password-btn {
  font-family: Inter;
  font-weight: 400;
  padding: 9px 15px;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background: #10B981;
  margin-bottom: 35px;
}

#generate-password-btn:hover {
  transition: 0.5s;
  background-color: #047857;  
}

hr {
  border: 1px solid var(--hr-color);
  margin-bottom: 35px;
}

#generated-passwords {
  display: flex;
  justify-content: space-between;
}

.generated-password-btn {
  width: 211px;
  height: 39px;
  background: #273549;
  border: none;
  border-radius: 6px;
  color: #55F991;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
}

#light-dark-mode-container {
  display: flex;
  justify-content: end;
  align-items: end;
}

#light-dark-mode-btn {
  background: var(--main-bg-color);
  padding: 10px;
  border: none;
  font-size: 20px;
  border-radius: 50%;
  margin: 50px 50px 0px 0px;
}

#light-dark-mode-btn:hover {
  transition: 0.5s;
  background-color: var(--switch-mode-color);
}

#form {
  margin-top: 0px;
}

#password-length-input {
  width: 40px;
}

#copied {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  color: var(--text-color);
}